.imagen{
    width: 300px;
    
}
.parrafo {
    font-size: 1.5rem;
}

body {
    background-color: blueviolet;
}

.imagen__contenedor { 
    text-align: center;
}

.barra { 
    background: midnightblue;
}

.logo { 
    font-size: 3rem;
    color: aliceblue;
    font-family: 'Staatliches', cursive;
    
}
.logo:hover{
    transform: scale(1.2);
}
.nav_anchor {
    color: aliceblue;

}
.nav_anchor:hover { 
    transform: scale(1.3);

}

.nav-item {
    padding-left: 10px;
}
.subtitulo{
    text-align: center;
    font-family: 'Black Ops One', cursive;
}


.galery__img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music__img{
    width: 200px;
}