.imagen{
    width: 300px;
    
}
.parrafo {
    font-size: 1.5rem;
}

body {
    background-color: blueviolet;
}

.imagen__contenedor { 
    text-align: center;
}

.barra { 
    background: midnightblue;
}

.logo { 
    font-size: 3rem;
    color: aliceblue;
    font-family: 'Staatliches', cursive;
    
}
.logo:hover{
    transform: scale(1.2);
}
.nav_button {
    color: aliceblue;

}
.nav_button:hover { 
    transform: scale(1.3);
}